.picture {
  float: right;
}

h1 {
  color: maroon;
}

h2 {
  color: blue;
}

h3 {
  color: maroon;
  font-size: 40px;
}

.hobbies {
  color: black;
}

@@media screen and (min-width: 480px) {
  body {
    background-color: black;
    width: 220px;
    float: left;
    padding: 15px
  }
}

.import {
  text-align: center;
}

.test-box {
  border-top: 2px solid maroon;
}

.Education p {
  font: blue;
}
.nav {
  background-color: black;
  font-size: 30px
}
body {
  background-image: image (url (/images/jen.jpg);
}
img
