.picture {
  float: right;
}
h1 {
  color: red;
  font-size: : 50px;
}
h2 {
  color: blue;
}
h3 {
  color: maroon;
  font-size: 40px;
}

.hobbies {
  color: black;
}
@@media screen and (min-width: 480px){
  body {
    background-color: black;
    width: 220px;
    float: left;
    padding: 15px
  }

}

.import{
  float: left;

}
