.picture {
  float: right;
}
h1 {
  color: red;
  font-size: : 50px;
}
h2 {
  color: blue;
  font-size: 40px;
}
h3 {
  color: maroon;
  font-size: 40px;
}
body{
  background-image: url

}

p{
  font-size: 30px;
}
.hobbies {
  color: black;
  font-size: 40px;
}
.education {
  font-size: 40px;
}
